body
{
    background-image: url('./images/focus-spotlight-effect-display-warm-color_1017-25845.webp');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   margin-top: 150px;
}
#dp{
  height: 300px;  
  width: 400px;
}

h2{
    font-size: 50PX; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
    color: rgb(43, 1, 36);    
}
a
{
    text-decoration: none;
    text-shadow: darkorchid;
    color: rgb(218, 151, 90);
   
}
/*
h4{
   
    border-style: solid;
    border-radius: 1px;
    border-width: 5px;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 900px;
    text-align: center;
    /*margin: 100px 50px;
    padding: 30px 10px 30px 10px;
    color:purple;
   
    
}*/
h1{
    text-align: center;
}